@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;500;700&family=Noto+Sans+Khmer:wght@400;500;700&display=swap');

:root {
  font-family: 'Noto Sans Khmer', 'DM Sans', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-noto-sans-khmer: 'Noto Sans Khmer', sans-serif;
}
